<!DOCTYPE HTML>
<html>
	<!-- Unclear where the head and title stuff should go. DO I allow the child to take over that stuff? -->
	<head> 
		<style>
			a {
				font-family: Helvetica, sans-serif;
				background-color: #adccff;
				color: black;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'allquestions' %}">Back to questions</a>
		</div>
		<br />
		
		{% block content %}{% endblock content %}
	</body>
</html>