<!DOCTYPE html>
{% extends "questions/base.html" %}
<html>
	{% block content %}
	<head>
		<title>{{ todo.title }}</title>
		<style> 
			a { 
				margin-right: 20px
			}
		</style>
	</head>
	<body>
		
			<h3>{{ todo.title }}</h3>
			<a href="{% url 'todo_edit' todo.id %}">Edit entry</a>
			<a href="{% url 'todos_main' %}">Back to ToDos...</a>
			<br />
			<br />
			<!-- Ultimately this will be a list item with things pushed horizontally -->
			<table>
				<tr>
					<td>Date Added</td>
					<td>Due Date</td>
					<td>Difficulty</td>
					<td>Done?</td>
				</tr>
				<tr>
					<td>{{ todo.date_added }}</td>
					<td>{{ todo.date_due }}</td>
					<td>{{ todo.get_difficulty_display }}</td>
					<td>{{ todo.done }}</td>
				</tr>
			</table>
			<br />
			<p>{{ todo.summary }}</p>
		{% endblock content %}
	</body>
</html> 