<!DOCTYPE html>
{% extends "questions/base.html " %}
<html> 
	<head>
		<title>{{ todo.title }}</title>
	</head>
	<body>
		{% block content %}
			<h3>{{ todo.title }}</h3>
			<br />
			<!-- Ultimately this will be a list item with things pushed horizontally -->
			<table>
				<tr>
					<td>Date Added</td>
					<td>Due Date</td>
					<td>Difficulty</td>
					<td>Done?</td>
				</tr>
				<tr>
					<td>{{ todo.date_added }}</td>
					<td>{{ todo.date_due }}</td>
					<td>{{ todo.get_difficulty_display }}</td>
					<td>{{ todo.done }}</td>
				</tr>
			</table>
			<br />
			<p>{{ todo.summary }}</p>
	
		{% endblock content %}
	</body>
</html> 