<!DOCTYPE HTML>
<html>
	<head>
		<title>Code snippet examples...</title>
		<style>
			.highlight-python {
				background-color: grey;
				width: 800px;
				margin: auto
			}
			pre {
				margin: 5px;
				padding: 10px
			}
		
		</style>
	</head>
	<body>
		
		<!-- code snippet here -->
		<div class="highlight-python">
			<a href="{% url 'home' %}">Home</a>
		
			<pre>
				<span>>>> django-admin startproject {projectname} .</span>
			</pre>
		</div>
		
	</body>
</html>